<form action="/user/insert" method="post" id="form_add">
    {% for prop in properties %}
        {% if prop != 'id' %}
            <input type="text" placeholder="{{ prop }}" name="{{ prop }}" class="data_add__item">
        {% endif %}
    {% else %}
        Поля отсутствуют
    {% endfor %}
    <input type="submit" value="Добавить" id="form_add__button">
</form>